{% extends "base.html" %}
{% load static%}
{% block title %} career {% endblock %}
{% block content %}
  <main id="main">   
    <section  id="about_image_back_service" style="background:url('/static/images/career.jpg');background-repeat: no-repeat;  background-attachment: fixed;background-size: cover; background-position: center; height: auto;">
        <div style="background: #000000b4;padding:0px 0px 100px 0px;">
          <div class="container">
          <div class="row py-4 row-contents">
            <h1 class="text-center services-heading">Make Career with us</h1>
            <h4 class="text-center text-white">Savant infolabs careers open the door for professional growth and development, giving you access to a robust suite of tools and experiences</h4>
          </div>
          </div>
        </div>
    </section>

    <section>
      
    </section>
  </main>
  {% endblock %}
  