{% load static%}

    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding"> 
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>- ABOUT CODITRO -</h2>
                <h4 class="sec-head">TOP COMPANY WHICH PROVDE FACILITY OF MOBILE, WEB AND GAME DEVELOPMENT.</h4>
             </div>
            </div>
          </div>
          <div class="row about-home" >
            <!-- single-well start-->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="well-left">
                <div class="single-well">
                    <img src="{%static '/image/astronaut.png' %}" alt="" style="width:100%;">
                </div>
              </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-8 col-sm-8 col-xs-12">
              <div class="well-middle">
                <div class="single-well about_div">
                    <p>Our approach to development & digital marketing is centered around learning & growing with our clients.</p>
                    <p>
                    We are one of the top IT companies in INDIA, the US, and Poland that develop high-quality iOS, Android, web and game apps for international clients.
                    </p>
                    <p>
                    We understand exactly what your app needs having mastered the art of mobile app development with innovative Android and iOS apps. 
                    We are proud of the quality of our assurance and on-time delivery of our projects, which is reflected in our portfolio. 
  
                    </p>
                    <p>Developing class-leading mobile apps was what we mastered in mobile app development. 
                    </p>
                    <p>Our development services are based on extensive market research, and our solutions are designed to deliver the best results, 
                    regardless of the latest technological trends.
                    </p>
                </div>
              </div>
            </div>
            <!-- End col-->
          </div>
        </div>
      </div>