<div id="bscontainer">
    <div id="left" class="bloc left">
      <a href="#">
        <div class="filter">
          <div class="content">
            <H2 class="py-1">ONE TEAM, ONE MISSION, REVOLUTION</H2>
            <p>We envision, plan, design, and create. <br/>But we're more than that. <br>We're a group of dedicated individuals with a single goal in mind: 
              <br/>to bring revolution and produce exceptional outcomes.</p>
          </div>
        </div>
      </a>
    </div>
    <div id="right" class="bloc right">
        <div class="filter">
          <div class="content">
            <H2 class="py-1">We Can Help You</H2>
            <p><a href="#">Design New Digital Experiences</a></p>
            <p><a href="#">Engineer Better Digital Products</a></p>
            <p><a href="#">Build Digital Service Platforms</a></p>
            <p><a href="#">Create New Revenue Streams</a></p>
            <p><a href="#">Scale Development Teams</a></p>       
          </div>
        </div>
    </div>
  </div>