{% load static%}
    <!-- ======= Rviews Section ======= -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>- OUR VALUES -</h2>
              <h4 class="sec-head">TOP COMPANY WHICH PROVDE FACILITY OF MOBILE, WEB AND GAME DEVELOPMENT.</h4>
           </div>
          </div>
        </div>
        </div>
        </div>
    <section class="py-10 area-padding py-10">
    <div class="reviews-area container">
        <div class="row no-gutters" style="padding: 20px 0px 100px 0px;">
          <div class="col-lg-6 py-10">
            <img src="{% static '/image/review1.jpg'%}" alt="" class="img-fluid">
          </div>
          <div class="col-lg-6 work-right-text d-flex align-items-center text-white">
            <div class="px-5 py-lg-0">
              <h3 class="text-values">Diligence</h3>
              <p class="text-white">Color Combination, Layout, Sitemap and Style. We will bring your business online an make a brand.</p>
              <h3 class="text-values">Education</h3>
              <p class="text-white" >We turn your ideas in to reality and develop project on the basis of requirements.</p>
              <h3 class="text-values">Consistency</h3>
              <p class="text-white" style="padding: 0px 0px 10px 0px;">After completion of your website we do it live – with 1 year Free Support.</p>
              <a href="#contact" class="ready-btn scrollto button">Brands with us</a>
            </div>
          </div>
        </div>
      </div><!-- End Rviews Section -->
    </section>