
{% load static%}
{% block content %}
{{videodict}}
<!-- <div class="container" style="z-index: 1000;">
    <div class="row">
        {% for videos in videodict %}
        <div class="col-md-4">
            {{videos.name}}
            {{videos.description}}
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src=""></iframe>
              </div>
            <video width="320" height="240" autoplay muted>
                <source src="media/{{videos.video}}" type="video/mp4">
            </video>
        </div>
        {% endfor %}
    </div>
</div> -->










{% endblock %}



